#yasub_overlay {
  cursor: pointer;
  position: absolute;
  height: 87%;
  width: 100%;
  display: block;
  top: 0px;
  display: none;
}

#yasub_subtitle_bar {
  position: relative;
  bottom: 100px;
  border: solid 1px black;
  background-color: black !important;
  color: white;
  opacity: 0.8;
  font-size: 20px;
  height: auto;
  line-height: 20px;
  padding: 2px 5px;
  vertical-align: bottom;
  display: none;
}

#yasub_subtitle_bar:empty {
  display: none;
}

