#yasub_subtitle_bar {
  position: relative;
  bottom: 100px;
  border: solid 1px black;
  background-color: black !important;
  color: white;
  opacity: 0.8;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  padding: 0px 5px;
  vertical-align: bottom;
  display: inline-block;
}

#yasub_subtitle_bar:empty {
  display: none;
}
